.container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
/* background: linear-gradient(174deg, rgba(209, 224, 215, 1) 28%, rgba(96, 126, 188, 1) 80%); */
  
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* padding-top: 100px; */
}
.text1 {
  font-size: 10vh;
  font-family: "Times New Roman", Times, serif;
}
.text2 {
  color: rgb(100, 93, 93);
  font-size: 3.1vh;
}
.btn {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.linkedin,
.projects {
  height: fit-content;
  width: fit-content;
  background-color: rgb(75, 76, 76);
  color: aliceblue;
  padding: 15px 35px; /*y,x*/
  border-radius: 10px;
}
@media (max-width: 480px) {
.img{
  display: none;
}
.text{
  padding: 60px;
}
.text1{
  font-size:2rem;
}
}