.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 35px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.323);
  backdrop-filter: blur(30px);
  z-index: 10;
}
.subcontainer {
  display: flex;
  gap: 50px;
  cursor: pointer;
}
.contact {
  height: fit-content;
  width: fit-content;
  color: aliceblue;
  background-color: rgb(80, 151, 237);
  padding: 15px 25px; /*y,x*/
  border-radius: 10px;
}
.contact:hover {
  background-color: rgb(58, 136, 232);
  cursor: pointer;
}
